.navBar {
  background-color: #83C5BE;
  border-bottom: 5px;
}

.navBar p {
  background-color: #83C5BE;
}

.title1 p {
  font-size: 3rem;
  margin: 3px;
  background-color: #83C5BE;
}

.navDiv, .navDiv p {
  background-color: #83C5BE;
}

.dropdown {
  font-size: 1.75rem;
  margin: 3px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.modalHeader {
  background-color: #83C5BE;
}


/* @media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
} */

@media screen and (max-width: 575px) {
  html {
    font-size: 9px;
  }
  .container {
    flex-direction: column;
  }
}
