.navBar {
  background-color: #83C5BE;
  border-bottom: 5px;
}

.navBar p {
  background-color: #83C5BE;
  font-size: medium;
}

.title1 p {
  font-size: 3rem;
  margin: 3px;
  background-color: #83C5BE;
}

.navDiv, .navDiv p {
  background-color: #83C5BE;
}

.dropdown {
  font-size: 1.75rem;
  margin: 3px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-toggler-icon {
  background-color: #83C5BE;
}

.hidden {
  display: none;
}

.loading {
  font-size: medium;
  padding-left: 115px;
}

.modalHeader {
  background-color: #83C5BE;
}

.modalTitle, .modalTitle p {
  background-color: transparent;
}



/* @media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
} */

@media screen and (max-width: 575px) {
  html {
    font-size: 9px;
  }
  .container {
    flex-direction: column;
  }
  .loading {
    padding-bottom: 15px;
    padding-left: 10px;
  }
}
